AUTHORS
build/*
build-stamp
ChangeLog
cover/
.coverage
covhtml/
dist/
doc/build
.idea/*
*.DS_Store
*.pyc
*.egg-info/
pbr*.egg/
run_tests.err.log
run_tests.log
setuptools*.egg/
subunit.log
.testrepository
.tox/
.venv/
*.mo
*.sw?
*~
.eggs/

# Files created by releasenotes build
releasenotes/build
