AUTHORS
build/*
build-stamp
ChangeLog
cover/
.coverage
.coverage.*
covhtml/
dist/
doc/build
doc/source/configuration/_static/octavia.policy.yaml.sample
doc/source/contributor/devref/erd.svg
doc/source/contributor/devref/flow_diagrams/
doc/source/contributor/devref/flow_diagrams_v2/
doc/source/contributor/modules
etc/octavia/*.sample
api-ref/build
.idea/*
.vscode/*
*.DS_Store
*.pyc
*.egg-info/
pbr*.egg/
run_tests.err.log
run_tests.log
setuptools*.egg/
tempest.log
.testrepository
.stestr
.tox/
.venv/
*.mo
*.sw?
*~
.eggs/
.ropeproject/
*.qcow2
*.orig

# Files created by releasenotes build
releasenotes/build
api-ref/build
