[Unit]
Description=Octavia active-active distributor agent
After=network-online.target openvswitch-switch.service cloud-init-final.service
Wants=network-online.target cloud-init-final.service
Requires=openvswitch-switch.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'if [ ! -s /etc/octavia/distributor-agent.conf ]; then mkdir -p /etc/octavia/certs /mnt/configdrive; mount -o ro /dev/sr0 /mnt/configdrive && cp /mnt/configdrive/openstack/content/0000 /etc/octavia/certs/client_ca.pem && cp /mnt/configdrive/openstack/content/0001 /etc/octavia/certs/server.pem && cp /mnt/configdrive/openstack/content/0002 /etc/octavia/distributor-agent.conf; umount /mnt/configdrive; fi'
ExecStart=/usr/local/bin/octavia-distributor-agent --config-file /etc/octavia/distributor-agent.conf
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
