[Unit]
Description=Octavia active-active distributor agent
After=network-online.target openvswitch-switch.service cloud-init-final.service
Wants=network-online.target cloud-init-final.service
Requires=openvswitch-switch.service

[Service]
Type=simple
ExecStart=/usr/local/bin/octavia-distributor-agent --config-file /etc/octavia/distributor-agent.conf
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
