actdiag
blockdiag
docutils>=0.11
nwdiag
seqdiag
sphinx>=1.6.2
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
graphviz
openstackdocstheme>=1.11.0  # Apache-2.0
os-api-ref>=1.0.0 # Apache-2.0

# This needs to be installed after above modules
pydotplus
pyparsing
networkx
