actdiag
blockdiag
docutils==0.11
nwdiag
oslosphinx
seqdiag
sphinx==1.2.3
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
graphviz

# This needs to be installed after above modules
pydotplus
pyparsing
networkx
