{# Copyright 2015 Hewlett-Packard Development Company, L.P.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#}
[DEFAULT]
debug = {{ debug }}
use_syslog = True
syslog_log_facility = LOG_LOCAL{{ administrative_log_facility }}

[haproxy_amphora]
base_cert_dir = {{ base_cert_dir }}
base_path = {{ base_path }}
bind_host = {{ bind_host }}
bind_port = {{ bind_port }}
haproxy_cmd = {{ haproxy_cmd }}
respawn_count = {{ respawn_count }}
respawn_interval = {{ respawn_interval }}
use_upstart = {{ use_upstart }}
user_log_facility = {{ user_log_facility }}
administrative_log_facility = {{ administrative_log_facility }}

[health_manager]
controller_ip_port_list = {{ controller_list|join(', ') }}
heartbeat_interval = {{ heartbeat_interval }}
heartbeat_key = {{ heartbeat_key }}

[amphora_agent]
agent_server_ca = {{ agent_server_ca }}
agent_server_cert = {{ agent_server_cert }}
{% if agent_server_network_dir -%}
agent_server_network_dir = {{ agent_server_network_dir }}
{% endif -%}
{% if agent_server_network_file -%}
agent_server_network_file = {{ agent_server_network_file }}
{% endif -%}
agent_request_read_timeout = {{ agent_request_read_timeout }}
amphora_id = {{ amphora_id }}
amphora_udp_driver = {{ amphora_udp_driver }}
agent_tls_protocol = {{ agent_tls_protocol }}

[controller_worker]
loadbalancer_topology = {{ topology }}
