[Unit]
Description=OpenStack Octavia Amphora Agent
After=network.target syslog.service
Wants=syslog.service

[Service]
ExecStart=/usr/local/bin/amphora-agent --config-file /etc/octavia/amphora-agent.conf
KillMode=mixed
Restart=always
ExecStartPost=/bin/sh -c "echo $MAINPID > /var/run/amphora-agent.pid"
PIDFile=/var/run/amphora-agent.pid

[Install]
WantedBy=multi-user.target
